/* #region  Variaveis*/
:root {
    --primaryV1-color: #090C08;
    --primaryV2-color: #2E352C;
    --primaryV3-color: #50544E;
    --secondaryV1-color: #C4151C;
    --secondaryV2-color: #CA4045;
    --secondaryV3-color: #D6696D;
    --tertiaryV1-color: #E2C044;
    --tertiaryV2-color: #EECE5A;
    --tertiaryV3-color: #F9DB71;
    --whiteV1-color: #FFFFFF;
    --whiteV2-color: #E2E2E2;
    --whiteV3-color: #BFBFBF;
    --font-size-h1: 32px;
    --font-size-h2: 26px;
    --font-size-p: 16px;
    --font-family: Arial, Helvetica, sans-serif;
  }
/* #endregion */

/* #region ConfPag*/
.container{
  background-color: var(--whiteV1-color);
}

.container-pagina{
  padding-left: 15vw;
  padding-right: 15vw;
}
/* #endregion */

/* #region TopPag*/

.box-content-top-left{
  position: relative;
  padding-top: 50px;
}

.box-content{
  display: flex;
}

.imageHome01{
  width: 550px;
  height: auto;
}

.position-elite-button-body{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 140px;
  height: auto;
}

.conteudo h1{
  font-size: 2.2em;
  margin-bottom: 20px;
}

.conteudo p{
  font-size: 1.4em;
}

/* #endregion */

/* #region CenterPag */
.container-center{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.container-center img{
  width: 18vw;
  height: auto;
}

.imgs-top{
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.imgs-bottom{
  display: flex;
  gap: 40px;
}
/* #endregion */

/* #region BottomPag*/
.container-bottom{
  display: flex;
  padding-left: 15vw;
}

.box-bottom-left{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 20px;
}

.box-bottom-left h1{
  font-size: 2em;
  padding-top: 20px;
}

.box-bottom-left p{
  font-size: 1.4em;
}

.topicos-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box-bottom-right img{
  width: 500px;
  height: auto;
}
/* #endregion */

