<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Auto Elite</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/about.css">
    <script src="/script/index.css" defer></script>
</head>
<body>
    <div class="container" >
        <div class="sidebar">
            <ul>
                <li><img src="/img/aboutImg/icon/logo.png" alt="logo"></li>
                <li>Sobre a Auto Elite</li>
                <li>Contato</li>
                <li>Como funcionamos</li>
                <li><button class="elite-button">SEJA ELITE</button></li>
            </ul>
        </div>
        <div class="container-pagina">
            <div class="container-top">
                <h1>Sobre a Auto Elite</h1>
                <div class="box-img-container-top">
                    <div>
                        <p>A Auto Elite nasceu do sonho de um grupo de amigos apaixonados pelo mundo automotivo. O projeto começou de forma simples, como uma ideia entre conversas, buscando uma maneira de conectar clientes e lojas de forma mais prática e eficiente.</p>
                        <p>Com o tempo, percebemos que muitas pessoas tinham dificuldades para encontrar serviços automotivos de qualidade perto de casa. Ao mesmo tempo, pequenas e médias lojas precisavam de mais visibilidade para alcançar novos clientes. Foi assim que surgiu a Auto Elite: uma plataforma que facilita essa conexão, oferecendo um ambiente confiável e inovador.</p>
                    </div>
                    <div>
                        <img src="/img/aboutImg/about01.png" style="width: 300px; height: auto;">
                    </div>
                </div>
                <div>
                    <p>Nosso objetivo é transformar a forma como você cuida do seu carro, tornando a busca por serviços mais ágil e transparente. Aqui, você pode encontrar desde oficinas mecânicas e autopeças até serviços de estética automotiva, sempre com avaliações reais e a opção de escolher lojas premium que garantem qualidade e atendimento diferenciado.</p>
                    <p>A Auto Elite continua crescendo, mas sem perder sua essência: ser a ponte entre quem busca e quem oferece os melhores serviços automotivos. 🚗💨</p>
                </div>
                <img src="/img/aboutImg/about02.png" style="width: 550px; height: auto;">
            </div>
        </div>
        <div class="container-bottom">
            <div>
                <h1>Nosso Comprometimento Elite!</h1>
                <p></p>
                <p>Na Auto Elite, nosso compromisso é conectar você aos melhores serviços automotivos com transparência, qualidade e praticidade. Trabalhamos para garantir que cada cliente encontre exatamente o que precisa, de forma rápida e segura.</p>
                <p>Nos dedicamos a oferecer uma experiência confiável, onde lojas e profissionais qualificados possam crescer e atender cada vez melhor. Acreditamos que um bom serviço faz a diferença, e por isso estamos sempre aprimorando nossa plataforma para entregar as melhores soluções para você e seu carro.</p>
                <p>Auto Elite – conectando você ao melhor do mundo automotivo.  </p>
            </div>
            <div>
                <img src="/img/aboutImg/about03.png" style="width: 550px; height: auto;">
            </div>
        </div>
        <footer>
            <div class="footer-align">
                <p style="font-size: 0.07em;">Política de Cookies</p>
                <p style="font-size: 0.07em;">Política de Privacidade</p>
                <p style="font-size: 0.07em;">Termo de Uso</p>
            </div>
            <div class="linha">.</div>
            <div class="footer-align">
                <p style="font-size: 0.07em;">CNPJ</p>
                <p style="font-size: 0.07em;">E-mail</p>
                <p style="font-size: 0.07em;">telefone</p>
            </div>
            <div class="linha">.</div>
            <div class="footer-icon">
                <img src="/img/aboutImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
                <img src="/img/aboutImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
                <img src="/img/aboutImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
            </div>
        </footer>
    </div>
</body>
</html>