<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/productNotRegister.css">
    <script src="/script/index.js"></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/productNotRegisterImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
                <li><button class="elite-button">SEJA ELITE</button></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-top content-center" >
            <div class="box-input-product">
                <input type="text" placeholder="Pesquisar...">
            </div>
            <p>Volante Mercedes Mb 430mm Pequeno 608 710 1620 1935</p>
            <div class="box-produt-main">
                <div class="box-imgs">
                    <img src="/img/productNotRegisterImg/product01.png" alt="">
                    <img src="/img/productNotRegisterImg/product01.png" alt="">
                    <img src="/img/productNotRegisterImg/product01.png" alt="">
                    <img src="/img/productNotRegisterImg/product01.png" alt="">
                </div>
                <p>Este produto está a 3.2 KM de você!</p>
                <div class="box-learnMore">
                    <span>Saber mais...</span>
                </div>
            </div>
        </section>

        <section class="container-bottom content-center">
            <p>Produtos em que você possa se interessar:</p>
            <div class="boxes-produt-top">
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product02.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product03.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product04.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
            </div>
            <div class="boxes-produt-botton">
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product05.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product06.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product07.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ</p>
            <p class="footer-text">E-mail</p>
            <p class="footer-text">telefone</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/productNotRegisterImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>